<form
  [formGroup]="projectInformationsForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">
        Etes-vous ? <sup>*</sup>
      </legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            formControlName="type"
            class="form-check-input"
            type="radio"
            value="owner"
            id="pRadio"
          />
          <label class="form-check-label" for="pRadio"> Propriétaire </label>
        </div>
        <div class="form-check">
          <input
            formControlName="type"
            class="form-check-input"
            type="radio"
            value="tenant"
            id="lRadio"
          />
          <label class="form-check-label" for="lRadio"> Locataire </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row mt-2">
    <label for="persons" class="col-sm-2 col-form-label">
      Nombre de personne <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="number"
        step="1"
        class="form-control"
        id="persons"
        placeholder="Nombre de personne"
        formControlName="persons"
        autocomplete="off"
        appInvalidFormClass
        maxlength="2"
      />
      <div class="invalid-feedback">
        Le nombre de personne(s) doit être compris entre 1 et 99
      </div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="lastName" class="col-sm-2 col-form-label">
      Revenue du foyer <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <ngx-slider formControlName="incomes" [options]="options"></ngx-slider>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="area" class="col-sm-2 col-form-label">
      Surface du bien (m<sup>2</sup>) <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="area"
        placeholder="surface en m2"
        formControlName="area"
        autocomplete="off"
        appInvalidFormClass
        maxlength="3"
      />
      <div class="invalid-feedback">
        La surface est obligatoire et doit être comprise entre 1 et 999
      </div>
    </div>
  </div>
  <div class="float-right">
    <button
      type="submit"
      [disabled]="!projectInformationsForm.valid"
      class="btn btn-primary mt-2"
    >
      Soumettre
    </button>
  </div>
</form>
