<h3>
  Congrats {{ formValues.personalInfos!.civility | civility }}
  {{ formValues.personalInfos!.lastName }}
  {{ formValues.personalInfos!.firstName }} ! You made it so far !
</h3>
<div
  class="mt-3"
  *ngIf="formValues.projectInfos!.type === 'owner'; else tenantBlock"
>
  <p>Coût du projet {{ aggregateValues.projectCost }}</p>
  <div *ngIf="aggregateValues.effyHelpAmount > 0; else tenantBlock">
    <p>
      Montant de l'aide {{ aggregateValues.effyHelpAmount | number: "0.2-2" }}
    </p>
    <p>
      Bravo !! Vous êtes éligible à notre programme d'aides et d'accompagnement
    </p>
  </div>
</div>
<ng-template #tenantBlock>
  <p>Oh non! Vous n'êtes pas éligible !! :(</p>
</ng-template>
<div class="mt-3">
  <button class="btn btn-secondary" (click)="retry($event)">Recommencer</button>
</div>
