<div class="row">
  <div
    class="col text-center"
    [ngClass]="{ 'text-muted': currentStep !== 'personalInfos' }"
  >
    1. Infos personnelles
  </div>
  <div
    class="col text-center"
    [ngClass]="{ 'text-muted': currentStep !== 'projectInfos' }"
  >
    2. Infos sur le projet
  </div>
  <div
    class="col text-center"
    [ngClass]="{ 'text-muted': currentStep !== 'sumpup' }"
  >
    3. Résumé
  </div>
</div>
