<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">The Effy MVP</h1>
    </div>
  </div>
  <app-stepper></app-stepper>
  <div class="row mt-5">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
