<form
  [formGroup]="personalInformationsForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">
        Civilité <sup>*</sup>
      </legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            formControlName="civility"
            class="form-check-input"
            type="radio"
            value="m"
            id="mRadio"
          />
          <label class="form-check-label" for="mRadio"> M </label>
        </div>
        <div class="form-check">
          <input
            formControlName="civility"
            class="form-check-input"
            type="radio"
            value="mme"
            id="mmeRadio"
          />
          <label class="form-check-label" for="mmeRadio"> Mme </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row mt-2">
    <label for="lastName" class="col-sm-2 col-form-label">
      Nom <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Nom"
        formControlName="lastName"
        autocomplete="off"
        appInvalidFormClass
      />
      <div class="invalid-feedback">Le nom doit faire 3 caractères minimum</div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="firstName" class="col-sm-2 col-form-label">
      Prénom <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="Prénom"
        formControlName="firstName"
        autocomplete="off"
        appInvalidFormClass
      />
      <div class="invalid-feedback">
        Le prénom doit faire 3 caractères minimum
      </div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="email" class="col-sm-2 col-form-label">
      Email <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
        autocomplete="off"
        appInvalidFormClass
      />
      <div class="invalid-feedback">L'email est invalide</div>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="phone" class="col-sm-2 col-form-label"
      >Téléphone <sup>*</sup>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Téléphone"
        formControlName="phone"
        autocomplete="off"
        appInvalidFormClass
        maxlength="14"
      />
      <div class="invalid-feedback">
        Le numéro de téléphone doit être de la forme 06 33 33 33 33
      </div>
      <small id="phoneHelp" class="form-text text-muted">
        de la forme 06 33 33 33 33
      </small>
    </div>
  </div>
  <div class="float-right">
    <button
      type="submit"
      [disabled]="!personalInformationsForm.valid"
      class="btn btn-primary mt-2"
    >
      Soumettre
    </button>
  </div>
</form>
